[submodule "data/cneuromod"]
	path = data/cneuromod
	url = /lustre03/project/6003287/datasets/cneuromod
	datalad-id = 29e74738-8e09-11ea-80eb-8555360247cd
	datalad-url = /lustre03/project/6003287/datasets/cneuromod
